// -----------------------------------------------------------------------------
// This file contains all styles related to the article component.
// -----------------------------------------------------------------------------
section.article {
    // border: 5px solid red;

    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    @include breakpoint("medium") {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    @include breakpoint("large") {
        display: flex;
        flex-direction: row;
        height: 100vh;
        padding: 40px 0 0 0;
    }

    @include breakpoint("larger") {
        display: flex;
        flex-direction: row;
        height: 100vh;
        padding: 40px 8% 0 8%;
        gap: 8%;
        overflow: hidden;
    }

    &.educationpage {
        display: flex;
        flex-direction: column-reverse;

        @include breakpoint("small") {
            display: flex;
            flex-direction: column-reverse;
        }

        @include breakpoint("medium") {
            display: flex;
            flex-direction: column-reverse;
        }

        @include breakpoint("large") {
            display: flex;
            flex-direction: row;
        }
    }

    div.imagesection {
        // border: 2px solid yellow;

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint("small") {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include breakpoint("medium") {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }

        @include breakpoint("large") {
            width: 40%;
            display: flex;
            justify-content: right;
            align-items: center;
            padding-left: 5%;
        }

        div.imagecontainer {
            // border: 2px solid blue;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 85%;
            height: 250px;
            overflow: hidden;
            border-radius: 8px;

            @include breakpoint("small") {
                width: 85%;
                height: 250px;
            }

            @include breakpoint("medium") {
                width: 85%;
                height: 350px;
            }

            @include breakpoint("large") {
                width: 100%;
                height: 80%;
                max-height: 800px;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 8px;
            }
        }

        div.imagecontainer2 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;

            // @include breakpoint("small") {
            //     width: 85%;
            //     height: 250px;
            // }

            // @include breakpoint("medium") {
            //     width: 85%;
            //     height: 350px;
            // }

            @include breakpoint("large") {
                max-height: 800px;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 8px;
            }
        }
    }

    div.imagesection2 {
        // border: 2px solid black;

        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint("small") {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include breakpoint("medium") {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 0;
        }

        @include breakpoint("large") {
            width: 40%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-right: 5%;
        }

        div.imagecontainer {
            //   border: 2px solid blue;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 85%;
            height: 250px;
            overflow: hidden;
            border-radius: 8px;

            @include breakpoint("small") {
                width: 85%;
                height: 250px;
            }

            @include breakpoint("medium") {
                width: 85%;
                height: 350px;
            }

            @include breakpoint("large") {
                width: 100%;
                height: 80%;
                max-height: 800px;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 8px;
            }
        }
    }

    div.textcontainer {
        // border: 2px solid green;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7.5%;
        width: 100%;

        @include breakpoint("small") {
            width: 100%;
            padding: 7.5%;
        }

        @include breakpoint("medium") {
            width: 100%;
            padding: 7.5%;
        }

        @include breakpoint("large") {
            width: 60%;
            padding: 80px;
        }

        h1 {
            font-size: 2rem;

            @include breakpoint("small") {
                font-size: 2rem;
            }

            @include breakpoint("medium") {
                font-size: 2.25rem;
            }

            @include breakpoint("large") {
                font-size: 2.5rem;
            }
        }

        p {
            font-size: 0.825rem;
            line-height: 20px;

            @include breakpoint("small") {
                font-size: 0.825rem;
                line-height: 20px;
            }

            @include breakpoint("medium") {
                font-size: 0.825rem;
                line-height: 20px;
            }

            @include breakpoint("large") {
                font-size: 1rem;
                line-height: 25px;
            }
        }

        div {
            width: 80%;

            @include breakpoint("small") {
                font-size: 0.825rem;
                line-height: 20px;
                width: 100%;
            }

            @include breakpoint("medium") {
                
            }

            @include breakpoint("large") {
                width: 80%;
            }

            div.modules {
                // width: 100%;
                width: auto;
                margin-top: 40px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: baseline;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background: linear-gradient(
                    45deg,
                    rgba(240, 240, 240, 1) 0%,
                    rgb(246, 246, 246) 100%
                );
                border-radius: 1rem;
                gap: 5%;

                @include breakpoint("small") {
                    justify-content: left;
                    align-items: baseline;
                    flex-direction: column;
                    padding: 10px;
                    width: auto;
                }

                @include breakpoint("medium") {
                    align-items: center;
                    // flex-direction: row;
                    padding: 40px;
                    width: auto;
                }

                @include breakpoint("large") {
                    align-items: center;
                    // flex-direction: row;
                    padding: 40px;
                    width: auto;
                }
                h4 {
                    margin: 0;
                }
                ul {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    // width: 50%;
                    gap: 20px;

                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: right;
                        list-style: none;
                        // width: 220px;
                        // list-style: inside;
                        font-size: 0.825rem;
                        justify-content: right;
                        align-items: center;
                        gap: 10px;

                        @include breakpoint("small") {
                            // width: 220px;
                            font-size: 0.825rem;
                            gap: 10px;
                        }

                        @include breakpoint("medium") {
                            // width: 220px;
                            font-size: 1rem;
                            gap: 20px;
                        }

                        @include breakpoint("large") {
                            // width: 220px;
                            font-size: 1rem;
                            gap: 20px;
                        }
                        div.bar {
                            width: 60%;
                            height: 30px;
                            border-radius: 20px;
                            border: 0.5px solid #ccc;
                            background: #fff;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);

                            @include breakpoint("small") {
                                // width: 220px;
                                width: 60%;
                            }

                            @include breakpoint("medium") {
                                width: 75%;
                            }

                            @include breakpoint("large") {
                                width: 62%;
                            }

                            div.baramount {
                                height: 100%;
                                border: 5px solid white;
                                border-radius: 20px;
                                width: 50%;
                            }
                            div.react {
                                width: 85%;
                                background-color: #b9ff9f;
                            }
                            div.css {
                                width: 92%;
                                background-color: #9cff78;
                            }
                            div.php {
                                width: 40%;
                                background-color: #f2b764;
                            }
                            div.wordpress {
                                width: 65%;
                                background-color: #ebff78;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.contactmepage {
    display: flex;
    flex-direction: column;
    gap: 0;

    div.textcontainer {
        width: 100%;
        padding: 20px;

        @include breakpoint("small") {
            padding: 20px;
        }

        @include breakpoint("medium") {
            padding: 20px;
        }

        @include breakpoint("large") {
            padding: 120px 80px 0 80px;
        }
    }

    div.linksdiv {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding-bottom: 100px;

        @include breakpoint("small") {
        }

        @include breakpoint("medium") {
            flex-direction: column;
        }

        @include breakpoint("large") {
            flex-direction: row;
            padding: 0 40px 100px 40px;
        }

        div.link {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background: linear-gradient(
                45deg,
                rgba(240, 240, 240, 1) 0%,
                rgb(246, 246, 246) 100%
            );
            border-radius: 6px;
            height: 250px;
            width: 300px;
            // padding: 40px;
            transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease;

            @include breakpoint("small") {
                height: 300px;
                width: 300px;
            }

            @include breakpoint("medium") {
                width: 350px;
                height: 350px;
            }

            @include breakpoint("large") {
                padding: 20px;
                width: 220px;
                height: 220px;
            }

            &:hover {
                height: 300px;
                width: 300px;
                padding: 40px;

                @include breakpoint("small") {
                    height: 300px;
                    width: 300px;
                    padding: 40px;
                }

                @include breakpoint("medium") {
                    padding: 40px;
                    width: 350px;
                    height: 350px;
                }

                @include breakpoint("large") {
                    padding: 35px;
                    width: 260px;
                    height: 260px;
                }
            }

            a {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            img {
                margin-bottom: 10px;
                height: 60px;
            }

            h4,
            p {
                margin: 0;
                text-align: center;
            }

            p {
                font-size: 0.825rem;
            }
            button {
                cursor: pointer;
                margin-top: 20px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                width: 200px;
                height: 40px;
                min-height: 40px;
                background: linear-gradient(
                    45deg,
                    rgba(240, 240, 240, 1) 0%,
                    rgb(246, 246, 246) 100%
                );
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                font-size: 0.825rem;
                transition: background 0.3s ease, color 0.3s ease;
                transition: width 0.3s ease, min-height 0.3s ease;

                span {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 0.6rem;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                        margin-bottom: 0;
                    }
                }
            }
            button:hover {
                @include breakpoint("medium") {
                    width: 220px;
                    min-height: 50px;
                }
            }
        }
    }
}
