// -----------------------------------------------------------------------------
// This file contains all styles related to the article component.
// -----------------------------------------------------------------------------
section.article {
  // border: 5px solid red;

  padding-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  @include breakpoint("small") {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  @include breakpoint("medium") {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  @include breakpoint("large") {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  &.educationpage {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint("small") {
      display: flex;
      flex-direction: column-reverse;
    }

    @include breakpoint("medium") {
      display: flex;
      flex-direction: column-reverse;
    }

    @include breakpoint("large") {
      display: flex;
      flex-direction: row;
    }
  }

  div.imagesection {
    // border: 2px solid yellow;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint("small") {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint("medium") {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }

    @include breakpoint("large") {
      width: 40%;
      display: flex;
      justify-content: right;
      align-items: center;
      padding-left: 5%;
    }

    div.imagecontainer {
      // border: 2px solid blue;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 85%;
      height: 250px;
      overflow: hidden;
      border-radius: 8px;

      @include breakpoint("small") {
        width: 85%;
        height: 250px;
      }

      @include breakpoint("medium") {
        width: 85%;
        height: 350px;
      }

      @include breakpoint("large") {
        width: 450px;
        height: 80%;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }

    div.imagecontainer2 {
      width: 450px;
      height: 80%;
      overflow: hidden;
      border-radius: 8px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  div.imagesection2 {
    // border: 2px solid black;

    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint("small") {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint("medium") {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 0;
    }

    @include breakpoint("large") {
      width: 40%;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-right: 5%;
    }

    div.imagecontainer {
      //   border: 2px solid blue;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 85%;
        height: 250px;
      overflow: hidden;
      border-radius: 8px;

      @include breakpoint("small") {
        width: 85%;
        height: 250px;
      }

      @include breakpoint("medium") {
        width: 85%;
        height: 350px;
      }

      @include breakpoint("large") {
        width: 450px;
        height: 80%;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  div.textcontainer {
    // border: 2px solid green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.5%;
    width: 100%;

    @include breakpoint("small") {
      width: 100%;
      padding: 7.5%;
    }

    @include breakpoint("medium") {
      width: 100%;
      padding: 7.5%;
    }

    @include breakpoint("large") {
      width: 60%;
      padding: 80px;
    }

    p {
      line-height: 30px;
    }

    div.modules {
      width: 100%;
      margin-top: 40px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: baseline;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background: linear-gradient(
        45deg,
        rgba(240, 240, 240, 1) 0%,
        rgb(246, 246, 246) 100%
      );
      border-radius: 6px;
      gap: 5%;

      @include breakpoint("small") {
        justify-content: left;
        align-items: baseline;
        flex-direction: column;
      }
  
      @include breakpoint("medium") {
        align-items: center;
        flex-direction: row;
      }
  
      @include breakpoint("large") {
        align-items: center;
        flex-direction: row;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 0;

        li {
          width: 220px;
          list-style: inside;
          font-size: 0.825rem;

          @include breakpoint("small") {
            width: 220px;
            font-size: 0.825rem;
          }
      
          @include breakpoint("medium") {
            width: 220px;
            font-size: 1rem;
          }
      
          @include breakpoint("large") {
            width: 220px;
            font-size: 1rem;
          }
        }
      }
      
    }
  }
}

section.contactmepage {
  display: flex;
  flex-direction: column;

  div.textcontainer {
    width: 100%;
    padding: 20px;

    @include breakpoint("small") {
      padding: 20px;
    }

    @include breakpoint("medium") {
      padding: 20px;
    }

    @include breakpoint("large") {
      padding: 120px 80px 0 80px;
    }
  }

  div.linksdiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 100px;

    @include breakpoint("small") {
    }

    @include breakpoint("medium") {
      flex-direction: column;
    }

    @include breakpoint("large") {
      flex-direction: row;
      padding: 0 40px 100px 40px;
    }

    div.link {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background: linear-gradient(
        45deg,
        rgba(240, 240, 240, 1) 0%,
        rgb(246, 246, 246) 100%
      );
      border-radius: 6px;
      height: 300px;
      width: 300px;
      padding: 40px;
      transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease;

      &:hover {
        padding: 60px;
        width: 350px;
        height: 350px;
      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      img {
        margin-bottom: 10px;
        height: 100px;
      }

      h3,
      p {
        margin: 0;
        text-align: center;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  footer {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
